* {
    font-family:Arial, Helvetica, sans-serif;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

*::after,
::before {
    box-sizing: inherit;
}

.title {
    color: #03a7bb;
    text-align: center;
}

html,
body{
    height: 100%;
    font-size: 16px;
}

body{
    background-color: #18171c;
    display: flex;
    align-items: center;
    justify-content: center;
}

input {
    border: none;
    outline: none;
}

input:focus {
    outline: none;
}

button {
    border: none;
    outline: none;
    background: none;
    cursor: pointer;
}

button:focus {
    outline: none;
}

.container {
    display: grid;
    background-color:  #000000;
    grid-template-columns: repeat(4, 1fr);
    padding: 1rem;
    gap: .80rem;
    width: 350px;
    border: 2px solid #000000;
    border-radius: 1rem;
    position: fixed; 
    top: 50%;
    left: 50%;
    transform: translate(-50% , -50%);  

}

.screen {
    background: #18171c;
    padding: 1rem;
    grid-column: 1/5;
    border-radius: .75rem;
    height: 6rem;
    color: white;
    font-size: 2rem;
}

::placeholder{
    color:white;
}

.var {
    grid-column: 1/5;
}

.symbol,
.number {
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    color: white;
    font-size: 2rem;
    aspect-ratio: 1;
    border-radius: 50%;
    transition: .15 ease;
}

.symbol{
    background: #1b004b;;
}
.symbol:hover {
    background-color: #2c0077;
    transition: 0.3s ease-in-out all;
}

.number{
    background: #18171c;
}

.number:hover{
    background: #232229;
}
